* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
.wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.canvas{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
#myCanvas{
  position: absolute;
  display: none;
  left: 5%;
  top: 2%;
  /* outline: 10px double white; */
  z-index: 0;
}
.imgBackground {
  display: block;
  width: 100%;
  height: 100%;
}
.imgNew {
  width: 100%;
  height: 100%;
  display: none;
}
.containerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 53%;
  top: 31%;
  z-index: 2;
}
.blockLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btnLink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 24px;
  background: #005684;
  text-decoration: none;
  font-family: Sunshiney;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  color: #fcf8df;
  border: none;
}
.btnLink:hover{
  background: #005684b0;
  transition: .5s;
  transform: scale(1.05,1.05);
  cursor: pointer;
}
.play {
  padding: 5px 43px;
}
.records {
  padding: 5px 51px;
}
.rules {
  padding: 5px 53px;
}
.link:hover {
  outline: none;
}
.btnAudioPlay {
  background: url(../assets/sound_off.svg);
  height: 40px;
  width: 40px;
  margin-top: 10px;
  border-radius: 0px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.btnAudioPlay:hover {
  transition: .5s;
  transform: scale(1.1,1.1);
}
.soundOn {
  background-image: url(../assets/sound_on.svg);
  background-repeat: no-repeat;
}
.soundOff {
  background-image: url(../assets/sound_off.svg);
  background-repeat: no-repeat;
}
/*стилизация модального одна рекордов*/
.modal_over {
  width: 100%;
  height: 100vh;
  display: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(28, 169, 204, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 5;
}
/* .table_records {
  border: 3px solid red;
  border-collapse: collapse;
  text-align: center;
  width: 500px;
  height: auto;
  display: none;
}
.table_td_records {
  border: 3px solid red;
} */
.blockRules{
  text-align: center;
  display: flex;
  width: 400px;
  font-size: 25px;
  color: #FCF6D6;
  font-family: Arial;
  background: transparent;
  display: none;
}
.modal_overlay_visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}
.modal_visible {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
.blockBtn{
  position: absolute;
  bottom: 50%;
  left: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  display: none;
}
.retry{
  padding: 5px 15px;
}
.retry:hover{
  background: #005684b0;
  transition: .5s;
  transform: scale(1.05,1.05);
  cursor: pointer;
}
.quit{
  padding: 5px 40px;
}
.quit:hover{
  background: #005684b0;
  transition: .5s;
  transform: scale(1.05,1.05);
  cursor: pointer;
}
.pause{
  position: absolute;
  top: 33%;
  left: 17%;
  color: white;
  font-family: Sunshiney;
  display: none;
}
.blockSaveResult{
  position: absolute;
  z-index: 3;
  bottom: 38%;
  left: 24%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.inputName{
  width: 200px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px;
}
.btnSave{
  padding: 5px 30px;
  margin-top: 10px;
  border-radius: 24px;
  background: #005684;
  text-decoration: none;
  font-family: Sunshiney;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  color: #fcf8df;
  border: none;
}
.btnSave:hover:enabled{
  background: #005684b0;
  transition: .5s;
  transform: scale(1.05,1.05);
  cursor: pointer;
}



