body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: solid black;
}

.grid div {
  width: 20px;
  height: 20px;
}

.ghost-lair {
  background-color: yellow;
}

.pac-dot {
  background-color: green;
  border: 5px solid white;
  box-sizing: border-box;
}

.wall {
  background: url(brik.png);
}

.power-pellet {
  background-color: green;
  border-radius: 10px;
}

.blinky {
  background: url(arm.png);
}

.pinky {
  background: url(arm.png);
}

.inky {
  background: url(arm.png);
}

.clyde {
  background: url(arm.png);
}

.pac-man {
  background: url(th.png);
}

.scared-ghost {
  background: url(scr.png);
}
