body{
    margin: 0;
    padding: 0;
}
.container_canvas{
    width: 100%;
    height: 100vh;
    background: url(../assets/santacanvasbg.jpg) no-repeat;
    position: relative;
}
.block_canvas{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    width: 1138px;
    height: 720px;
}
.santa_counter{
    position: absolute;
    color: white;
    right: 0;
    top: 0;
    font-size: 50p;
}
.block_canvas div{
    width: 60px;
    height: 48px;
}
.wall{
    background: url(../assets/ice_cube.svg);
}
.bonus_eat{
    background:url(../assets/bonus.svg);
}
.santa_eat{
    background:url(../assets/stars_animation_3.svg);
    /* animation: animstar 1s ease-in-out infinite alternate; */
}
.santa{
    background:url(../assets/santa.svg);
}
.zona_snowman{
    background:url(../assets/zona_snowman.svg);
}
.grinch_one{
    background: url(../assets/grinch.svg);
}
.grinch_two{
    background: url(../assets/grinch.svg);
}
.grinch_three{
    background: url(../assets/grinch.svg);
}
.grinch_four{
    background: url(../assets/grinch.svg);
}
.grinch_five{
    background: url(../assets/grinch.svg);
}
.grinch_six{
    background: url(../assets/grinch.svg);
}
.grinch_cold {
    background: url(../assets/grinch_cold.svg);
}

/* @keyframes animstar {
    from{background:url(../assets/stars_animation_1.svg);}
    35%{background:url(../assets/stars_animation_2.svg);}
    70%{background:url(../assets/stars_animation_3.svg);}
    to{background:url(../assets/stars_animation_4.svg);}
} */