body{
    margin: 0;
    padding: 0;
}
.container_canvas{
    width: 100%;
    height: 100vh;
    background: url(../assets/santacanvasbg.jpg) no-repeat;
    position: relative;
}
.block_canvas{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    width: 924px;
    height: 731px;
}
.santa_counter{
    position: absolute;
    color: white;
    right: 0;
    top: 0;
    font-size: 50p;
}
.block_canvas div{
    width: 33px;
    height: 26px;
}
.wall{
    background: url(../assets/wall.png);
}
.bonus_eat{
    background:url(../assets/bonus.png);
}
.santa_eat{
    background:url(../assets/eat.png);
}
.snowman_one{
    background:url(../assets/snowman.svg);
}
.snowman_two{
    background:url(../assets/snowman.svg);
}
.snowman_three{
    background:url(../assets/snowman.svg);
}
.snowman_four{
    background:url(../assets/snowman.svg);
}
.snowman_five{
    background:url(../assets/snowman.svg);
}
.snowman_six{
    background:url(../assets/snowman.svg);
}
.santa{
    background:url(../assets/santa.svg);
}
.zona_snowman{
    background:url(../assets/zona_snowman.svg);
}
.elf{
    background: url(../assets/elf.svg);
}