* {
    margin: 0;
    padding: 0;
}
body {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1 {
    align-items: center;
}
.container {
    width: 644px;
    height: 644px;
    border: 5px solid red;
    display: flex;
    flex-wrap: wrap;
}
.container div {
    width: 23px;
    height: 23px;
}
.wall {
    background: url(../assets/grass.svg);
}
.powerpellet {
    border-radius: 10px;
    background-color: chartreuse;
}
.pacmanFood {
    background-color: chartreuse;
    border: 10px solid #fff;
    box-sizing: border-box;
}
.army1 {
    background: url(..//assets/bug.svg);
}
.army2 {
    background: url(..//assets/bug.svg);
}
.army3 {
    background: url(..//assets/bug.svg);
}
.army4 {
    background: url(..//assets/bug.svg);
}
.pacman {
    background: url(../assets/panda.svg);
}
.notallow {
    background-color: white;
}
.armyScr {
    background: url(..//assets/bugred.svg)
}


